server:
  port: 8080

spring:
  mongodb:
    uri: mongodb://mongo:admin@mongo:27017/agora-mongo

  datasource:
    url: jdbc:postgresql://postgres:5432/agora-postgres
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false