server:
  port: 8080

spring:
  mongodb:
    uri: mongodb://localhost:27017/agora-mongo

  datasource:
    url: "jdbc:postgresql://localhost:5431/agora-postgres"
    username: "postgres"
    password: "admin"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false